<h2>Workshifts</h2>

<table class="overview">
  <thead>
    <tr>
      <th>ID</th>
      <th>Money</th>
      <th>Started</th>
      <th>Ended</th>
      <th>Cleared</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    <% @user.workshifts.each do |workshift| -%>
    <tr class="<%= cycle("uneven", "even") %>">
      <td><%= workshift.id %></td>
      <td><%= nice_price workshift.money %></td>
      <td><%= workshift.started_at.timestamp  rescue "not started" %></td>
      <td><%= workshift.ended_at.timestamp    rescue "in progress" %></td>
      <td>
        <%= workshift.cleared ? "✔" : "✘" %>
        <%= workshift.cleared_at.timestamp if workshift.cleared %>
      </td>
      <td>
        <%= link_to "Billing", billing_workshift_path(workshift) %>
        <%= link_to "Details", workshift_path(workshift)%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>