<div id="search_results">
  <table id="special_guests">
    <thead>
      <tr>
        <th>ID</th>
        <th>Forname</th>
        <th>Name</th>
        <th>UID</th>
        <th>Group</th>
	<th>Checked in?</th>
        <th>Add to cart</th>
        <th>Upgrade</th>
      </tr>
    </thead>
    <tbody>
    <% (@results || []).each do |special_guest| %>
      <tr class="<%= cycle( "uneven", "even") %>">
        <td><%= special_guest.id %></td>
        <td><%= special_guest.forename %></td>
        <td><%= special_guest.name %></td>
        <td><%= special_guest.uid %></td>
        <td><%= special_guest.group.name %></td>
        <td>
	  <% if !special_guest.checked_in %>
           ✘
          <% else %>
           ✔
          <% end %>
	</td>
	<td>
          <table class="special_guest_tickets">
          <% special_guest.available_tickets.each do |ticket| %>
          <tr>
            <td>
	      <% if !special_guest.checked_in %>
              <%= link_to_remote(
                    ticket.name,
                    :url => add_ticket_to_cart_path(
                      :id => ticket.id,
                      :special_guest_id => special_guest.id
                    ), 
                    :method => :put
                  ) %>
	      <% else %>
		Checked in already
	      <% end %>
            </td>
            <td><%= nice_price ticket.price %></td>
          </tr>
          <% end %>
          
          <% special_guest.bought_tickets.each do |ticket| %>
            <tr>
              <td colspan="3" class="strike">
                <%= ticket.name %>
                <%= nice_price ticket.price %>
		(Checked in)
              <td>
            </tr>
          <% end %>
          </table>
         <td>
	<% if special_guest.reservations[0].ticket.presale && !special_guest.checked_in then %>
	<%= link_to special_guest.reservations[0].ticket.name,
                        :controller => :special_guests,
                        :action => :show,
                        :id => special_guest.id
            %>
	<% end %>
        </td>
       </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
