<div id="search_results">
  <table id="special_guests">
    <thead>
      <tr>
        <th>ID</th>
        <th>Forname</th>
        <th>Name</th>
        <th>UID</th>
        <th>Group</th>
        <th>Ticket Type</th>
      </tr>
    </thead>
    <tbody>
    <% (@results || []).each do |special_guest| %>
      <tr>
        <td><%= special_guest.id %></td>
        <td><%= special_guest.forename %></td>
        <td><%= special_guest.name %></td>
        <td><%= special_guest.uid %></td>
        <td><%= special_guest.group.name %></td>
        <td>
          <table class="special_guest_tickets">
          <% special_guest.available_tickets.each do |ticket| %>
          <tr>
            <td>
              <%= link_to_remote(
                    ticket.name,
                    :url => add_ticket_to_cart_path(
                      :id => ticket.id,
                      :special_guest_id => special_guest.id
                    ), 
                    :method => :put
                  ) %>
            </td>
            <td><%= nice_price ticket.price %></td>
          </tr>
          <% end %>
          
          <% special_guest.bought_tickets.each do |ticket| %>
            <tr>
              <td colspan="3" class="strike">
                <%= ticket.name %>
                <%= nice_price ticket.price %>
              <td>
            </tr>
          <% end %>
          </table>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
