<h1>Workshift Details</h1>
<% if @workshift.cleared? %>
  <p>Cleared by <strong><%= link_to(@workshift.cleared_by.login, user_path(@workshift.cleared_by)) %></strong>
  at <%= @workshift.cleared_at %>.</p>
<% else %>
  <p><strong>Not cleared.</strong>
<% end %>

<h1>Transactions</h1>

<p><%= will_paginate @transactions %></p>

<table class="overview">
  <thead>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Valid</th>
      <th>Tickets</th>
      <th class="total">Total</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => @transactions %>
  </tbody>
</table>

<p><%= will_paginate @transactions %></p>
