<div id="ticket_selection">
    
  <h1>Tickets</h1>
  <table id="tickets">
    <tr>
      <th>Ticket</th>
      <th>Price</th>
    </tr>
    <% Ticket.standard.available.each do |ticket| %>
    <tr class="<%= cycle('even', 'uneven')%>">
      <td>
        <%= link_to_remote(
              ticket.name, 
              :url => add_ticket_to_cart_path(:id => ticket.id), 
              :method => :put
            ) %>
      </td>
      <td class="price"><%= nice_price ticket.price %></td>
    </tr>
    <% end %>
  </table>

</div>


<div id="special_guest_search">

  <h4>Search</h4>
  <%= text_field_tag :search_term %>
  <%= observe_field(
        :search_term, 
        :url => search_special_guests_path, 
        :with => :search_term,
        :frequency => 1 
      ) %>
  <div id="search_results"></div>
</div>


<%= render :partial => 'cart' %>
