<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
    <title>CCCASH</title>
    <%= stylesheet_link_tag 'cccash' %>
    <%= javascript_include_tag :defaults %>
  </head>
  
  <body>
    <div id="header">
      <%= image_tag 'kasse-06.jpg' %>
    </div>
    <div id="menu">
      <%= menu_for_user %>
    </div>
    <div id="flash_container">
      <div id="notice" style="display: none"><%= flash[:notice] %></div> 
      <%= flash_js_tag %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>